@{
    ViewBag.Title = "Lifebyte Computer Ministry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="post">
    <h2 class="title">
        <a href="#">Welcome to Lifebyte </a>
    </h2>
    <!-- <p class="meta">Posted by <a href="#">Someone</a> on March 10, 2010
							&nbsp;&bull;&nbsp; <a href="#" class="comments">Comments (64)</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">Full article</a></p> -->
    <div class="entry">
        <p>
            <img src="@Url.Content("~/Content/yellowing/images/img05.jpg")" width="143" height="143" alt="" class="alignleft border" />
            Welcome to <a href="http://www.lifebyte.org/"><strong>Lifebyte </strong></a>a minstry
            which is part of <a href="http://www.coloradocommunity.org/"><b><big>'Colorado Community
                Church' </big></b></a>
        </p>
        <p>
            Lifebyte is composed of a group of spirit-filled people who use the gifts and direction
            of God to acquire, restore, and deliver free computers while sharing the love of
            Jesus Christ. Lifebyte share the message and love of Jesus Christ by rebuilding,
            deploying, and maintaining donated computers across the Denver Metro Area and beyond.</p>
        <p>
            Lifebyte ministry is reaching commmunity through Computers for the past 10 years.
            Maintaining, fixing, donating Computers to the community is the main function of
            the Lifebyte. Donations in the form of Computers and/or financial will be accepted.</p>
    </div>
</div>
<div class="post">
    <h2 class="title">
        <a href="#">Administrative Team</a></h2>
    <p class="meta">
        Contact <a href="#">Point Person</a>
        <!-- Contact updated on February 21, 2011 -->
        <!--	&nbsp;&bull;&nbsp; <a href="#" class="comments">Comments (64)</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">Full article</a> -->
    </p>
    <div class="entry">
        <p>
            <img src="@Url.Content("~/Content/yellowing/images/keyboard.jpg")" width="143" height="143" alt="" class="alignleft border" />
            Administrative Team is the face of the Lifebyte Ministry. This Team co-ordinates
            all activities of this ministry. The primary responsibility of thie Team is to attend/check
            voice mails, updating waiting list, communicating with CCC Staff.
        </p>
    </div>
</div>
<div class="post">
    <h2 class="title">
        <a href="#">Equipment Team</a></h2>
    <div class="meta">
        Contact <a href="#">Point Person</a>
        <!--h2 class="title">
                                    <a href="#">Phasellus pellentesque turpis </a>
                                </h2>
                                <p class="meta">
                                    Posted by <a href="#">Someone</a> on March 8, 2010 &nbsp;&bull;&nbsp; <a href="#"
                                        class="comments">Comments (64)</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">
                                            Full article</a></p-->
        <div class="entry">
            This typically saves an individual about $100 minimum which can be channelled towards
            blessing others and meeting other more basic needs. During the PC wash we:
            <p>
                1. Blow out the dust from computers
            </p>
            <p>
                2. Using any parts that are available we increase the processing power of PC e.g
                by increasing the memory.
            </p>
            <p>
                3. Install antivirus software and other neccessary software (free from the internet)
                to protect the computer.</p>
            <p>
                4. Remove unneccessary software that might have found its way to the computer.</p>
            <p>
                5. Talk about the blessings of God to individuals willing to listen.</p>
            <p>
                If you have any frustrations with your computer, this is the place to be...Check
                our calender for up-coming dates!
            </p>
        </div>
    </div>
</div>
<div style="clear: both;">
    &nbsp;</div>
<div class="post">
    <h3 class="title">
        <a href="#">Build Team</a></h3>
    <p class="meta">
        Contact <a href="#">Point Person</a>
        <!--	&nbsp;&bull;&nbsp; <a href="#" class="comments">Comments (64)</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">Full article</a> -->
    </p>
    <div class="entry">
        <p>
            <img src="@Url.Content("~/Content/yellowing/images/keyboard.jpg")" width="143" height="143" alt="" class="alignleft border" />
            Build Team is responsible for Maintaining/updating “PC Processing Guide” document,
            Remain abreast of best free software used for build standards, Creation of build
            disks used for PC refurbishment, Creation of bootable &amp; tools disks used at
            PC WashRefurbish / build computers (group leader)
        </p>
    </div>
</div>
<div style="clear: both;">
    &nbsp;</div>
<div class="post">
    <h4 class="title">
        <a href="#">Repair Team</a></h4>
    <p class="meta">
        Contact <a href="#">Point Person</a>
        <!--	&nbsp;&bull;&nbsp; <a href="#" class="comments">Comments (64)</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">Full article</a> -->
    </p>
    <div class="entry">
        <p>
            <img src="@Url.Content("~/Content/yellowing/images/keyboard.jpg")" width="143" height="143" alt="" class="alignleft border" />
            Repair Team is responsible for Contact recipients who require repair and facilitate
            the completion of the repair, Phone/In Person (Pickup), Coordinate with the Build
            Team when unrepairable computers require replacement, Update pre existing Lifebyte
            database information / LB numbers as needed
        </p>
    </div>
</div>
<div class="post">
    <h5 class="title">
        <a href="#">IT Team</a></h5>
    <p class="meta">
        Contact <a href="#">Point Person</a> &nbsp;&bull;&nbsp; <a href="#" class="comments">
            Comments (64)</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">Full article
        </a>
    </p>
    <div class="entry">
        <p>
            <img src="@Url.Content("~/Content/yellowing/images/keyboard.jpg")" width="143" height="143" alt="" class="alignleft border" />
            IT Team is responsible for Lifebyte.org website maintenance / updates, Update database
            with any required changes, Maintain social media / networking presence via Facebook,
            Twitter
        </p>
    </div>
    <div style="clear: both;">
        &nbsp;</div>
</div>
