<!doctype html>
<html lang="en-us" class="no-js">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" href="/favicon.png" />
    <title>@ViewBag.Title</title>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.6.1.min.js")""></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/modernizr-1.7.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.dropdown.js")"></script>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.3.0/build/cssreset/reset-min.css" />
    <link href="@Url.Content("~/Content/base.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/sunny/jquery-ui-1.8.9.custom.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/yellowing/yellowing.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <div id="logo">
                <h1>
                    @Html.ActionLink("Lifebyte", "Index", "Home")
                </h1>
                <p>
                    Computer Ministry of <strong>Colorado Community Church</strong>
                </p>
            </div>            
        </div>
        <!-- end #header -->
        <div id="page">
            <div id="page-bgtop">
                <div id="page-bgbtm">
                    <div id="menu">
                        <ul>
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Request", "Index", "Request", null, new { title = "Request a Computer" })</a></li>
                            <li>@Html.ActionLink("Donate", "Index", "Donate")</li>
                            <li>@Html.ActionLink("Volunteer", "Index", "Volunteer")</li>
                        </ul>
                    </div>
                    <!-- end #menu -->
                    <div id="content">
                        <p>
                            @Html.Partial("_SignInPartialView")
                        </p>
                        @RenderBody()
                    </div>
                    <div id="sidebar">
                        <ul>                            
                            <li>
                                <h2>
                                    Upcoming Events</h2>
                                <ul>
                                    <li>March 3<sup>rd</sup> Meeting</li>
                                    <li>March 19<sup>th</sup> Delivery Day</li>
                                </ul>
                            </li>
                            <li>
                                <h2>
                                    Stats</h2>
                                <ul>
                                    <li>16,527 pounds (8 tons) recycled</li>
                                    <li>66 Computers ready for delivery</li>
                                    <li>29 People waiting for a computer</li>
                                    <li>629 people helped</li>
                                </ul>
                            </li>
                            <li>
                                <h2>
                                    Partners</h2>
                                <ul>
                                    <li><a href="https://www.msregrefurb.com/RRPSite/OnlineDirectory.aspx">Microsoft</a></li>
                                    <li><a href="http://www.aidmatrix.com/">Aidmatrix</a></li>
                                    <li><a href="http://twitter.com/lifebyte">Twitter</a></li>
                                    <li><a href="http://www.facebook.com/pages/Englewood-CO/Lifebyte/159623783355">Facebook</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- end #sidebar -->
                    <div style="clear: both;">
                        &nbsp;</div>
                </div>
            </div>
        </div>
        <!-- end #page -->
        <div id="footer-wrapper">
            <div id="footer">
                <p>
                    Call us at 303-256-1224 | <a href="mailto:webmaster@lifebyte.org">webmaster@lifebyte.org</a>
                    | Design by <a href="http://www.freecsstemplates.org">Free CSS Templates</a></p>
            </div>
        </div>
        <!-- end #footer -->
    </div>
</body>
</html>
