<ul>
    <li>
        <h2>
            Volunteers</h2>
    </li>
    <li>
        @if (Request.IsAuthenticated)
        {
            <ul>
                <li>Welcome <strong>@User.Identity.Name</strong>!</li>
                <li>@Html.ActionLink("View Profile", "Index", "Profile")</li>
                <li>@Html.ActionLink("Sign Off", "SignOff", "Account")</li>
            </ul>
            <ul>
                <li>Data Entry</li>
                <li>@Html.ActionLink("Computers", "Index", "Computer")</li>
                <li>@Html.ActionLink("Recipients", "Index", "Recipient")</li>
            </ul>
        }
        else
        {
            <ul>
                <li>@Html.ActionLink("Sign In", "SignIn", "Account")</li>
                <li>@Html.ActionLink("Register", "Register", "Account")</li>
            </ul>
        }
    </li>
</ul>
