@model Lifebyte.Web.Models.Core.Entities.Computer
@{
    ViewBag.Title = "Lifebyte - Edit Computer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    Edit Computer</h2>
@if (!string.IsNullOrWhiteSpace(Model.ManifestHtml))
{
    <p>
        @Html.ActionLink("View the Belarc File", "Manifest", new { id = Model.Id })
    </p>
}
@if (Model.Recipient != null)
{ 
    <p>@Html.ActionLink("This computer has been delivered.", "Deliver", new { id = Model.Id })</p>
}
else
{
    <p>@Html.ActionLink("Deliver to Recipient", "Deliver", new { id = Model.Id })</p>
}
@using (Html.BeginForm("Edit", "Computer", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    @Html.EditorForModel()
    <p>
        <input type="submit" value="Save" /></p>
}
<script type="text/javascript">
    choose("ComputerStatus_ComputerStatusDropdownList", "ComputerStatus", "@Model.ComputerStatus");
    choose("LicenseType_LicenseTypeDropdownList", "LicenseType", "@Model.LicenseType");
</script>
